<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Health Survey Page 2</title>
</head>
<body>
    <h1>A bit more.. </h1>
    <form action="/page2" method="post">
        <div id='page2'>
            <label>Address Line 1</label>
            <input type="text" id="addressl1" name="addressl1" placeholder='Address Line 1' />
            
            <label>Address Line 2</label>
            <input type="text" id="addressl2" name="addressl2" placeholder='Address Line 2' />
            
            <label>City</label>
            <input type="text" id="city" name="city" placeholder='City'/>
    
            <label>State</label>
            <input type="text" id="state" name="state" placeholder='State'/>
            
            <label>Pincode</label>
            <input type="number" id="pincode" name="pincode" placeholder='Postal code'/>
            
            
        <div class="butt">
        <a href="../views/page3.ejs"><button>Next</button></a>
        </div>
        </div>
    </form>

    <script>

        // let update1=()=>{
        //     let addressl1 = document.getElementById('addressl1').value;
        //     let addressl2 = document.getElementById('addressl2').value;
        //     let city = document.getElementById('city').value;
        //     let state = document.getElementById('state').value;
        //     let pincode = document.getElementById('pincode').value;
            
        
        //     sessionStorage.setItem('addressl1',addressl1);
        //     sessionStorage.setItem('addressl2',addressl2);
        //     sessionStorage.setItem('city',city);
        //     sessionStorage.setItem('state',state);
        //     sessionStorage.setItem('pincode',pincode);
        //     }
            
            
        </script>
</body>
</html>